<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
    <listeners>
        <listener class-name="utilities.listen.Listener"></listener>
    </listeners>
    <test name="7-Eleven Regression Tests" preserve-order="true">
        <classes>
            <!-- 	-->
            <class name="testcases.AddUser_And_ValidateOnTable" />
            <class name="testcases.DeleteUser_And_ValidateOnTable" />
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
